@import url(base.css);
.bg{
    position: absolute;
    /*width: 7.5rem;*/
    /*height: 13.34rem;*/
    background: #f4f4f4;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.photo{
    width: 3.69rem;
    height: 5.2rem;
    background: #f0f0f0;
    border: 0.04rem solid #e0e1e3;
    margin-left: 1.92rem;
    margin-top: 2.67rem;
}
.point{
    width: 0.95rem;
    height: 0.15rem;
    margin-top: 2.43rem;
    margin-left: 3.33rem;
}
.point li{
    width: 0.15rem;
    height: 0.15rem;
    border-radius: 50%;
    float: left;
    background: #26bf02;
    margin-right: 0.05rem;
}
.point li:first-child{
    background: rgba(141,217,123,0.8);
}
.point li:last-child{
    margin-right: 0;
    background: rgba(141,217,123,0.8);
}
.point li:nth-child(2) .point li:nth-child(4){
    background: rgba(141,217,123,0.5);
}
.word{
    width: 2.30rem;
    height: 0.27rem;
    margin-top: 0.43rem;
    margin-left: 2.81rem;
    font-size: 0.24rem;
    color: #b5b5b6;
}